body {
    margin:0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    margin-bottom: 5%;
}

label {
    align-self: flex-start;
    font-weight: 500;
    display: block;
    margin: 4px 0;
    text-transform: uppercase;
    font-size: 13px;
    overflow: hidden;
}